<div style="font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #5e5454;
  max-width: 600px;
  ">
  <div style="
  background: #e1dddd;
  margin: 0;
  padding: 10px;">
    {{{ body }}}
  </div>
  <div style="
  background: rgb(0, 159, 62);
  text-align: center;
  padding-bottom: 10px;
  margin: 0;">
    {{> footer }}
  </div>

</div>
